{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}Car Service API{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<nav>
    {% block nav %}
    <a href="/">Home</a> |
    <a href="/contact/">Contact</a>
    {% endblock %}
</nav>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    Footer here
</footer>

</body>
</html>